body {
  font-family: Segoe UI;
}

.cardap {
	text-decoration: none;
	margin-top: 4em;
	font-size: 16px;
}


@media (min-width: 320px) {
  #img-logo {
      height: 135px;
  }
  .users-table {
      margin-top: 2em;
  }

  .cardap a {
	background-color: #000000;
	padding: 10% 47%;
		text-decoration: none;
	margin-top: 4em;
	font-size: 16px;
}

@media (min-height: 640px) {
  .users-table {
      margin-top: 2em;
      font-size: 18px;
  }  

	.cardap a {
		padding: 10% 44.8%;
			text-decoration: none;
	margin-top: 4em;
	font-size: 16px;
}
}

@media (min-width: 600px) {
  #img-logo {
      height: 200px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 25px;
  }

@media (min-width: 720px) {
  #img-logo {
      height: 235px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 35px;
  }

    .cardap a {
	background-color: #000000;
	padding: 10% 47%;
		text-decoration: none;
	margin-top: 4em;
	font-size: 32px;
}



@media (min-height: 900px) {
  .users-table {
      margin-top: 2em;
      font-size: 25px;
  }  
}



@media (min-width: 1024px) {
  #img-logo {
      height: 335px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 45px;
  }

@media (min-width: 1200px) {
  #img-logo {
      height:225px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 33px;
  }

@media (min-width: 1440px) {
  #img-logo {
      height:225px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 22px;
  }

@media (min-height: 900px) {
	.users-table {
    	font-size: 37px;
        }
      }

.cardap a {
	background-color: #000000;
	padding: 2em;
}
