body {
  font-family: Segoe UI;
}

@media (min-width: 320px) {
  #img-logo {
      height: 135px;
  }
  .users-table {
      margin-top: 2em;
  }

@media (min-height: 640px) {
  .users-table {
      margin-top: 2em;
      font-size: 20px;
  }  
}

@media (min-width: 600px) {
  #img-logo {
      height: 200px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 25px;
  }


@media (min-width: 720px) {
  #img-logo {
      height: 235px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 35px;
  }

@media (min-width: 1024px) {
  #img-logo {
      height: 335px;
  }
  .users-table {
      margin-top: 2em;
      font-size: 45px;
  }

