
.bgimg-1 {
    min-height: 35%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

body, html {height: 100%}


@media (min-width: 990px) { 
    .bgimg-1{ 
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
      } }

#imagem-fundo {

width: 72%;

}

h1 {
	font-size: 16px;

}

#plus {

  width: 0%;
  height: 0%;
  text-align: center;  

}

#minus{
width: 0%;
  height: 0%;
  text-align: center;  
  
}

#quant {
font-size: 20px;
    width: 3%;
    height: 2%;
}

#quantidade {

  width: 150%;
}

