
.bgimg-1 {
    min-height: 10%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

body, html {height: 100%}



@media (min-width: 990px) { 
    .bgimg-1{ 
      margin-left: 25%;
      margin-right: 25%;
      
      } }
@media only screen and (max-width: 750px) {

#prato-1 {
    font-size: 10px;
}

 }


#imagem-fundo {

width: 72%;

}

h1 {
	font-size: 16px;

}

#plus {
float: left;
    border: none;
    background-color: white;
}

#minus{


 border: none;
 background-color: white;
  
}

#quant {

border: none;
    
}

#quantidade {
    float: left;
width: 33%;
margin-top: 3%;
 }

 #preco-1 {

    margin-top: 2%;
 }

 #informacoes {

    width: 100%;
    height: 0%;
 }

 #nome-prato  {

    width: 33%;
    margin-top: -8%;
 }

<<<<<<< HEAD
  width: 150%;
}

=======
 #preco-1 {
    width: 33%;
    float: right;
 }
 
>>>>>>> e1dd27482aa74cea034fb7c1465d461dda74b5c6
