* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;
font-family: 'Lato', sans-serif;}
body {background-image: linear-gradient(to bottom ,  #fff6da , #f7f7f7);}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

.logo{
	width: 30%;
	height: 50%;
	margin: 0; 


}
.barra{
	overflow: auto; 
	width: 100%; 
	height: 500px; 
	border:solid 1px;
}
.Cardapio{
	height: 300%;
	width: 90%;
	background: black;
	color: white;
	border-color: black;
	border: solid;
	


}

#finalizacao {

    border-radius: 20px;
    height: 100%;
 }
 
 #valor-pedido {

    float: left;
 }

 #confirmar-pedido {
   
    float: right;
 }

 #botao-confirmar {
border-radius: 7%;
font-size: 50%;
 }



