body {

	width: 100%;
	height: 100%;

}
#botao{
	float: right;
	color:gray;
}

#X {
	float: right;
	margin-right: 3%;

}
#X1{
	border-radius: 50%;
}
#botao-adc{
	background-color: : gray;
	color: black;
}
#quantidade{
	height: 10%;
	border: solid;
	border-color: #c2c2c2;
	border-width: 2px;
}
#plus{
	color: white;
}