body {
  font-family: Segoe UI;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

table tbody tr #tb2 {
  position: fixed;
}

#barra {

 margin-left: 37%;
  width: 25%;
  border-width: 4px;
  border-color: #F05F40;
}

input[type = "checkbox"]:checked + label {
    text-decoration: line-through;
    color: grey;
}



@media (min-width: 320px) {
  #img-logo {
      margin-top: 2em;
      width: 25%;
  }
  .users-table {
      margin-top: 2em;
  }

@media (min-width: 990px) {
  #img-logo {
      height: 50px;
  }
}
