.body {
  width: 100%;
   font-family: Segoe UI;
   background-color: white;
}


#img-logo {
  width: 25%;
}

.Cor{
  text-decoration-color:red;
  color: white;
  font-size: 20px;
  font-family: Segoe UI;
}

#menu {
  width: 100%;
  height: 10%;
}


.menu {
   display: none;
    font-family: Segoe UI;
  font-size: 18px; 
}

.barra {
  margin-left: 37%;
  width: 25%;
  border-width: 4px;
  border-color: black;
}
<<<<<<< HEAD

#categoria {

=======

#categoria {

>>>>>>> fe402419192aab32f37b9faceb57c18ca2b779f8
  width: 100%;
}


@media only screen and (min-height: 700px) {

  #categoria {

    width: 70%;
  }
} 

.spam {

  background-color: #702D46;
}

#subtotal {
  height: 10%;
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: darkmagenta;
=======
    background-color: #49274A;
>>>>>>> 5265a322b784efdc7f9cc66f506c641d7205b62a
=======
  background-color: #49274A;
>>>>>>> fe402419192aab32f37b9faceb57c18ca2b779f8
}


.footer {
  position:absolute;
  bottom: 0;
  width:100%;
}

@media only screen and (max-height: 630px) {
  .footer {
    position: relative;
  }

  #subtotal {


height: 
  }
}




@media only screen and (min-height: 700px) {
  #img-logo {
    width: 13%;

  }
}

@media only screen and (min-height: 970px) {
  #img-logo {
    width: 11%;
  }
}

@media only screen and (min-height: 1140px) {
  #img-logo {
    width: 7%;
  }
}

#categorias {
  border-radius: 10px;
  font-size: 18px;
  font-family: Segoe UI;
}

#categorias1 {
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  font-size: 18px;
  background-color: darkmagenta;
  font-family: Segoe UI;
  
}

#categorias2 {
  background-color: darkmagenta;
}

#categorias3 {
 border-top-right-radius: 9px;
 border-bottom-right-radius: 9px;
 font-size: 18px;
 background-color: darkmagenta;
 font-family: Segoe UI;
}


/*Spans*/

#botao-adicionar {
  float: right;
  font-size: 18px;
}

#input-requisiçoes {
  width: 100%;
  display: none;
}

.botao-fechar-span { 
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.infos-pedido{
  padding: 16px;
  font-family: Segoe UI;
}

span.psw {
  float: right;
}

.fundo-span {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
    
}

.fundo-span-conteudo {
  background-color: #3D0318;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
  border-radius : 10px;
}

.close1 {
   float: right;
   margin-right: 5%;
   margin-top: 0%;
   color: white;
   font-size: 35px;
   font-weight: bold;
}

.close2 {
   float: right;
   margin-right: 5%;
   margin-top: -2%;
   color: white;
   font-size: 35px;
   font-weight: bold;
    
}

.close1:hover,
.close1:focus {
    color: red;
    cursor: pointer;
}

.close2:hover,
.close2:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.descPrato{
  font-size:20px ;
}

#total-parcial {
    background-color:#f7f7f7; 
    border-radius: 10px; 
}

#total-pedido {
    background-color:#f7f7f7;
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius:10px;
}

.nome1{
  font-size: 18px;
}

.nome2{
  font-size: 15px;
}

#botao-span2 {
float: right;
font-size: 18px;
}

/* Span Prato */

#menos {
  width: 8%;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  background-color: white;
}

#mais {
  width: 8%;
  border: solid;
  border-width: 1px;
  border-radius: 15px;
  background-color: white;
}

#quant {
border: none;
}

#quantidade {
  width: 100%;
  font-size: 18px;
  color: black;
}


#nome-requisicao {
 display: block;
}

#nome-prato {
  top: 0%;
  background-color: black;
  border-bottom: solid;
  border-width: 2px;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px;
  border-bottom-color: grey;
}

.fundo-span-2 {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  padding-top: 40px;
    
}

.fundo-span-conteudo-2 {
  background-color: white;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 90%; 
  border-radius : 10px;
}

#input-requisicoes {
  width: 100%;
  display: none;
}

#input-req-real {
  width: 82%;
}

#nome-requisicao {
  width: 60%;
}

input[type=text]{outline:none}
input[type=button]{outline:none}
textarea {outline: none;resize: none;}
<<<<<<< HEAD
=======

#descricao{
  color: black;
}

#requisicao{
  color: black;
}

>>>>>>> fe402419192aab32f37b9faceb57c18ca2b779f8
